body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

form{
    max-width: 1000px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px; 
}

input
select,
textarea {
    width: 75%;
    padding: 8px;
    margin-bottom: 16px;
}
form {
    width: 90%;
    background-color: #dbdcdc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header, main, aside, footer {
    padding: 10px;
    text-align: left;
    background-color: rgb(223, 204, 223);
    color: white;
}

.container{
    display: flex;
}

main{
    flex: 9;
}

aside {
    flex: 3;
    border-left: 1px solid bisque;
    background-color: rgb(70, 66, 66);
}

.flex-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.flex-item{
    background-color: aqua;
    color: rgb(214, 211, 211);
    padding: 10px;
    margin: 5px;
}

.grid-container{
    display: flex;
    grid-template-columns: repeat(3, lfr);
    grid-gap: 5px;
}

.grid-item{
    background-color: rgb(15, 109, 190);
    color: white;
    padding: 20px;
    text-align: center;
}

.content{
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
}

#heading{
    color: blueviolet;            
}

#description{
    color: blue;
}

@media screen and (max-width: 1000px) {
    #heading{
        font-size: 24px;
    }
}

#description{
    font-size: 100px;
}

@media screen and (max-width: 1000px) {
    #heading{
        font-size: 28px;
    }            
}

@media screen and (max-width: 488px) {
    #heading{
        font-size: 28px;
    }            
}

#description{
    font-size: 14px;
}